/* Your code here */
.pf{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.wgs{
    display: inline-block;

    height: 482px;
    width: 640px;

    overflow: clip;

    position: relative;
}

.wgs__mole-head{
    height: 356px;
    width: 376px;

    position: absolute;
    left: 109px;
    right: 155px;

    margin-top: 0;
    transition-duration: 0.25s;
}

.wgs__dirt-pile{
    height: 220px;
    width: 640px;

    position: absolute;
    top: 262px;
}

.wgs__mole-head--hidden{
    margin-top: 482px;

    overflow: hidden;
}

/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

.sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}

.wgs__mole-head--whacked{
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
  opacity: 0;
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.5);
    opacity: 0.7;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
